.track-card {
    margin: 15px;
}

.track-card:hover {
    box-shadow: 10px 10px 10px black;
}

button {
    font-size: 30px;
    margin: 5px;
}

.d-none {
    display: none;
}

button:hover {
    box-shadow: 5px 5px black;
}